@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr {
  @apply block;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

.custom-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}
